<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px 0;
    display: block;
  }

  strong {
    color: #00A86B !important;
  }
</style>

<div class="container">
  <br/>
  <img src="https://i.imgur.com/T4MLAMH.png"/>

  <br/>
  <span>Hello {{name}}</span>

  <br/>

  <span>You have requested a password change</span>
  <br />
  <span>To make the change, click on the link
    <a href={{link}}>{{link}}</a>
  </span>

  <br />
  <span>If you did not request the password change yourself, simply ignore this e-mail.</span>

  <br />
  <strong>Thank you!</strong>

  <h3><strong>Jade Dragon</strong> Team</h3>
</div>