<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px 0;
    display: block;
  }

  strong {
    color: #00A86B !important;
  }
</style>

<div class="container">
  <br/>
  <img src="https://i.imgur.com/T4MLAMH.png"/>

  <br/>
  <span>Hello {{name}}</span>

  <br/>

  <span>This email is an automatic warning</span>
  <br />
  <span>Your password has just been changed</span>

  <br />
  <span>If you have not made this change, please contact the team.</span>

  <br />
  <strong>Thank you!</strong>

  <h3><strong>Jade Dragon</strong> Team</h3>
</div>